<div class="todo-list">
    <div class="utem-wrap" *ngFor="let item of todos; let i=index" >
      
        <mat-card  [class]="{istrue: item.selcted===true, isfalse: item.selcted===false,iscompleted: item.iscompleted===true}"   (click)="onTodoClick(item,i)" *ngIf="!item.isarcaiv" >
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle class="disc"  >{{item.description}}</mat-card-subtitle>
        </mat-card>   
    </div>

   
    <mat-divider></mat-divider>
</div>
