.app{
  main{
    padding: 10px;
    height: calc(100vh - 84px);
    display: flex;
    gap:10px;
    .list-continer{
      width: 25%;
    }

    .todo_cocntainer{
      width: 75%;
    }
    .add-new-todo-but{
      position: fixed;
      bottom: 30px;
      right: 30px;
    }
  }

}